@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;600;700&display=swap") * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url("https://i1.faceprep.in/ProGrad/guess-number-bg.png");
    background-color: #7754f8;
    background-size: cover;
    font-family: 'Recursive', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    padding: 0 20px;

}

.logo {
    font-size: 5em;
    color: #FECB00;
    width: 400px;
    text-align: center;

}

.button {
    background-color: #fe8500;
    margin: 30px 0;
    border-radius: 4px;
    padding: 10px 15px;
    min-width: 100px;
    text-align: center;
    font-size: 1.2em;
    color: white;
    cursor: pointer;

}

#input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

input {
    width: 200px;
    margin: 30px;
    height: 2.5em;
    text-align: center;
    font-size: 1.3em;
}

#lives-text {
    color: white;

}

#message {
    font-size: 1.em;
    background-color: #FECB00;
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    display: none;
}